{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<h1>Create an account</h1>
<p class="lede">Your details are saved so you can log back in and see them later.</p>

<form class="panel" method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
  <fieldset>
    <legend>Login</legend>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="{{ form.username or '' }}" required autocomplete="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required autocomplete="new-password">
  </fieldset>

  <fieldset>
    <legend>About you</legend>
    <div class="row">
      <div>
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" value="{{ form.firstname or '' }}" required autocomplete="given-name">
      </div>
      <div>
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" value="{{ form.lastname or '' }}" required autocomplete="family-name">
      </div>
    </div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="{{ form.email or '' }}" required autocomplete="email">
    <label for="address">Address</label>
    <textarea id="address" name="address" required autocomplete="street-address">{{ form.address or '' }}</textarea>
  </fieldset>

  <fieldset>
    <legend>Text file</legend>
    <label for="file">Upload a .txt file</label>
    <input type="file" id="file" name="file" accept=".txt">
    <p class="hint">Optional. We&rsquo;ll count its words. You can also add one later from your profile.</p>
  </fieldset>

  <button class="btn" type="submit">Create account</button>
</form>
<p class="switch">Already registered? <a href="{{ url_for('login') }}">Log in</a></p>
{% endblock %}
